<p id="notice"><%= notice %></p>

<p>
  <b>Input URL:</b>
  <%= link_to "http://laura-link-shortener.herokuapp.com/#{@link.in_url}", "http://laura-link-shortener.herokuapp.com/#{@link.in_url}" %>
</p>

<p>
  <b>URL to redirect to:</b>
  <%= link_to @link.out_url, @link.out_url %>
</p>


<%= link_to 'Back', links_path %>
